@font-face {
    font-family: "VALORANT";
    src: url('../Fonts/ValorantFont.ttf');
}

@font-face {
    font-family: 'ANON';
    src: url('../Fonts/Anonymous_Pro.ttf');
}

@font-face {
    font-family: 'CondLight';
    src: url("../Fonts/OpenSans-CondLightItalic.ttf");
}

@font-face {
    font-family: 'ANON';
    src: url('../Fonts/Anonymous_Pro.ttf');
}

@font-face {
    font-family: 'Cuprum';
    src: url('../Fonts/Cuprum-Regular.ttf');
}

body {
    background-color: rgb(237, 233, 226);
    margin: auto;
}

.h1 {
    margin-top: 200px;
    margin-bottom: 5%;
    text-align: center;
    height: 5%;
    font-family: 'ANON';
    font-size: 50px;
    font-weight: 700;
}

h2 {
    font-weight: 400;
    font-family: 'Cuprum';
    font-size: 40px;
    text-align: center;
}

article img {
    margin-top: 2%;
    border: 1px solid #ff4454;
}

p {
    font-family: 'ANON';
    font-size: 20px;
    display: inline-block;
    margin-bottom: 10px;
    color: black;
}

a {
    font-family: 'Cuprum';
}

.article {
    width: 64%;
    margin-left: 17.9%;
    margin-right: 17.9%;
    box-sizing: border-box;
    margin-bottom: 20%;
}

#leftpic {
    margin: 100px 0px 0px 0px;
    left: 0.9%;
    bottom: 0.3%;
    position: fixed;
    float: left;
    background: url("../Images/Chroma/leftpicture.png");
    background-size: cover;
    width: 17%;
    height: 50%;
    z-index: 3;
}

#rightpic {
    bottom: 0.3%;
    margin: 100px 0px 0px 0px;
    right: 0.9%;
    float: right;
    position: fixed;
    z-index: 3;
    width: 17%;
    background: url("../Images/Chroma/rightpicture.png");
    background-size: cover;
    height: 50%;
}