#menu {
    color: whitesmoke;
    background-color: rgba(265, 68, 84, 1);
    width: 100%;
    top: 0%;
    height: 7%;
    position: fixed;
    border: 1px solid black;
}

.menuparts {
    text-align: center;
    width: 100%;
    font-size: 26px;
}

nav {
    width: 100%;
}

ul {
    width: 100%;
}

#highli ul {
    padding-left: 0px;
}

#hiddenmaps {
    width: 100%;
}

#highli {
    display: inline-block;
    width: 24%;
    text-align: center;
}

.notdisplayed {
    opacity: 0;

    display: none;
    width: 25%;
}

.displayed {
    opacity: 1;
    height: 10vh;
    position: relative;
    transition: 2s;
    display: block;
}

.smallmenu {
    background-color: #ff4454;
    display: block;
    box-shadow: 3px 1px 5px 1px white;

}

.smallmenu a {
    text-decoration: none;
    font-size: 26px;
    color: white;
}

#hiddenmaps {
    height: 250%;
}