#gal {
    width: 60%;
}

#spray {
    width: 39%;
}

article img {
    display: inline;
    margin-top: 15%;
    margin-bottom: 5%;

}

#aim1 {
    width: 48%;
    margin-right: 3%;
}

#aim2 {
    width: 48%;
}

#firstmarg {
    margin-bottom: 5% !important;
}

#lpic {
    width: 49%;
}

#rpic {
    width: 49%;
}

#rad,
#rad2 {
    float: right;
    width: 55%;
}

#mor div {
    float: left;
    width: 40%;
}